{{define "Index"}}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Api-go</title>
	</head>
	<body class="bg-zinc-900 text-gray-200 py-5 px-2 sm:px-5 lg:px-[100px] 2xl:px-[300px]">
		<nav class="flex justify-between items-center">
			<a href="/" class="text-2xl sm:text-3xl font-bold">Alura loja</a>
		</nav>

		<div class="flex justify-center pt-[100px] text-left text-sm sm:text-base">
			<div
				class="flex flex-col gap-1 sm:gap-3 bg-zinc-800 rounded-lg w-full h-auto p-1 sm:p-5 shadow-lg shadow-black"
			>
				<table class="bg-zinc-800 w-full h-auto">
					<thead class="border-zinc-600 border-b-2 min-h-[40px]">
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th class="w-2xl">Descrição</th>
							<th>Preço</th>
							<th>Estoque</th>
						</tr>
					</thead>
					<tbody>
						{{range .}}
						<tr class="border-zinc-700 border-b hover:bg-zinc-700 min-h-[40px]">
							<td>{{.Id}}</td>
							<td>{{.Nome}}</td>
							<td>{{.Descricao}}</td>
							<td>{{.Preco}}</td>
							<td>{{.Estoque}}</td>
						</tr>
						{{end}}
					</tbody>
				</table>
				<a
					href="/new"
					class="bg-blue-700 px-2 sm:px-4 py-2 w-fit text-xs sm:text-base rounded-lg hover:bg-blue-600"
					>Adicionar produto</a
				>
			</div>
		</div>
	</body>
</html>

{{end}}
